html{
  font-size:62.5%;
}
#topnav{
    display:flex;
    background-color: rgb(84, 98, 110);
    /* justify-content: space-around; */
    height: cacl(100vh - 40vh);
    width: 99vw;
}

.full2 {

    display:flex;
    flex-direction:right;
    
    background-color: white; 
    color: black; 
    border: .2rem solid rgb(84, 97, 110);
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
   
    font-size: 1.6rem;
    margin: .4rem .2rem;
    transition-duration: 0.4s;
    margin-top: 1.0rem;
    margin-right: 1.0rem;
    margin-left:1vw;
    margin-bottom:1rem;
    border-radius: 2rem;
    font-family: "Courier New", monospace, Verdana, sans-serif;
  }
  
   .full2:hover {
    background-color: #f7675d;
    color: white;
  }

  .full1{

    display:flex;
    flex-direction:right;
    
    background-color: white; 
    color: black; 
    border: .2rem solid rgb(84, 97, 110);
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
   
    font-size: 1.6rem;
    margin: .4rem .2rem;
    transition-duration: 0.4s;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 35vw;
    margin-bottom:1rem;
    border-radius: 2rem;
    font-family: "Courier New", monospace, Verdana, sans-serif;
  }
  
   .full1:hover {
    background-color: #f7675d;
    color: white;
  }
.left{
    padding-top:.5rem;
    padding-left:2.5rem
}
.left b{
    color: #fff;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

@media(max-width:998px){
  html{
    font-size:55%;
  }
}
@media(max-width:768px){
  html{
    font-size:45%;
  }
}
